// SPDX-License-Identifier: GPL-2.0
/*
 * dts file for Xilinx Versal
 *
 * (C) Copyright 2019, Xilinx, Inc.
 *
 * Michal Simek <michal.simek@xilinx.com>
 */

/ {
        compatible = "xlnx,versal-vc-p-a2197-00-revA",
                     "xlnx,versal-vc-p-a2197-00",
                     "xlnx,versal-vc-p-a2197", "xlnx,versal";
        model = "Xilinx Versal A2197 Processor board revA";

        chosen {
                bootargs = "rdinit=/bin/sh console=ttyAMA0 earlycon=pl011,mmio32,0xFF000000,115200n8 clk_ignore_unused maxcpus=1";
                stdout-path = "serial0:115200";
        };

        memory@0 {
                device_type = "memory";
                reg = <0 0 0 0x80000000>;
        };
};

&dcc {
        status = "okay";
};

&qspi {
        status = "okay"; /* u93 and u92 */
        /* single or dual */
};

&serial0 {
        status = "okay";
};

&ethernet0 {
	status = "okay";
	phy-handle = <&phy1>; /* u128 */
	phy-mode = "rgmii-id";
	phy1: phy@1 {
		reg = <1>;
		ti,rx-internal-delay = <8>;
		ti,tx-internal-delay = <0xa>;
		ti,fifo-depth = <1>;
		ti,dp83867-rxctrl-strap-quirk; /* FIXME */
	};
};

&ethernet1 {
	status = "okay";
	phy-handle = <&phy1>; /* u134 */
	phy-mode = "rgmii-id";
	phy2: phy@2 {
		reg = <2>;
		ti,rx-internal-delay = <8>;
		ti,tx-internal-delay = <0xa>;
		ti,fifo-depth = <1>;
		ti,dp83867-rxctrl-strap-quirk; /* FIXME */
	};
};
