// SPDX-License-Identifier: GPL-2.0
/*
 * dts file for Xilinx Versal X-PRC-01 revA (SE1)
 *
 * (C) Copyright 2019-2022 Xilinx, Inc.
 * (C) Copyright 2022 Advanced Micro Devices, Inc. All Rights Reserved.
 *
 * Michal Simek <michal.simek@xilinx.com>
 */

#include "include/dt-bindings/gpio/gpio.h"

/ {
        compatible = "xlnx,versal-vc-p-a2197-00-revA",
                     "xlnx,versal-vc-p-a2197-00",
                     "xlnx,versal-vc-p-a2197", "xlnx,versal";
        model = "Xilinx Versal A2197 Processor board revA";

	chosen {
		bootargs = "console=ttyAMA0 earlycon=pl011,mmio32,0xFF000000,115200n8 clk_ignore_unused";
		stdout-path = "serial0:115200";
	};

	aliases {
		serial0 = &serial0;
		ethernet0 = &gem0;
		ethernet1 = &gem1;
		i2c0 = &i2c1;
		mmc0 = &sdhci1;
		spi0 = &ospi;
		usb0 = &usb0;
		rtc0 = &rtc;
	};

};

&rtc {
        status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&dcc {
        status = "okay";
};

&watchdog {
        status = "okay";
};

&qspi {
        status = "disabled"; /* u93 and u92 */
};

&ospi {
	status = "okay";
	compatible = "xlnx,versal-ospi-1.0", "cadence,qspi", "cdns,qspi-nor";
	bus-num = <2>;
	num-cs = <1>;
	#stream-id-cells = <1>;
	#address-cells = <1>;
	#size-cells = <0>;
	reset-gpios = <&gpio1 0xc GPIO_ACTIVE_HIGH>;

	flash@0 {
		compatible = "mt35xu02g", "micron,m25p80", "spi-flash";
		reg = <0>;
		#address-cells = <0x1>;
		#size-cells = <0x1>;
		cdns,read-delay = <0x0>;
		cdns,tshsl-ns = <0x0>;
		cdns,tsd2d-ns = <0x0>;
		cdns,tchsh-ns = <0x1>;
		cdns,tslch-ns = <0x1>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <8>;
		spi-max-frequency = <20000000>;
		partition@0 { /* for testing purpose */
			label = "ospi-fsbl-uboot-boot.bin";
			reg = <0x0 0x6400000>;
		};
		partition@6400000 { /* for testing purpose */
			label = "ospi-linux";
			reg = <0x6400000 0x500000>;
		};
		partition@6900000 { /* for testing purpose */
			label = "ospi-device-tree";
			reg = <0x6900000 0x20000>;
		};
		partition@6920000 { /* for testing purpose */
			label = "ospi-rootfs";
			reg = <0x6920000 0xa00000>;
		};
		partition@7f40000 {
			label = "ospi-bootenv";
			reg = <0x7f40000 0x40000>;
		};
	};
};

&sdhci1 { /* U104 */
	status = "okay";
	xlnx,mio_bank = <1>;
	no-1-8-v;
};

&serial0 {
        status = "okay";
};

&gem0 {
	status = "okay";
	phy-handle = <&phy1>; /* u128 */
	phy-mode = "rgmii-id";
	phy1: phy@1 {
		reg = <1>;
		ti,rx-internal-delay = <0xb>;
		ti,tx-internal-delay = <0xa>;
		ti,fifo-depth = <1>;
		ti,dp83867-rxctrl-strap-quirk; /* FIXME - Remove if board is fixed */
	};
	phy2: phy@2 {
		reg = <2>;
		ti,rx-internal-delay = <0xb>;
		ti,tx-internal-delay = <0xa>;
		ti,fifo-depth = <1>;
		ti,dp83867-rxctrl-strap-quirk; /* FIXME -  Remove if board is fixed */
	};
};

&gem1 {
	status = "okay";
	phy-handle = <&phy2>; /* u134 */
	phy-mode = "rgmii-id";
};

&i2c1 {
	status = "okay";
	clock-frequency = <400000>;
	eeprom_versal: eeprom@51 { /* U116 */
		compatible = "st,24c128", "atmel,24c128";
		reg = <0x51>;
	};

	/* FIXME - U117 and U118 */
};

&usb0 {
	status = "okay";
	xlnx,usb-polarity = <0x0>;
	xlnx,usb-reset-mode = <0x0>;
};

&dwc3_0 { /* USB 2.0 host - U99 */
	status = "okay";
	dr_mode = "host";
	maximum-speed = "high-speed";
	snps,dis_u2_susphy_quirk;
	snps,dis_u3_susphy_quirk;
	snps,usb3_lpm_capable;
	phy-names = "usb3-phy";
};
