// SPDX-License-Identifier: GPL-2.0+
/*
i * dts file for Xilinx Microblaze kcu105.
 *
 * (C) Copyright 2017-2022 Xilinx, Inc.
 * (C) Copyright 2022-2023 Advanced Micro Devices, Inc. All Rights Reserved.
 *
 * Naga Sureshkumar Relli <nagasure@xilinx.com>
 */

&axi_iic_0 {
	#address-cells = <1>;
	#size-cells = <0>;
	i2c-mux@75 {
		compatible = "nxp,pca9544";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x75>;
		i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
			eeprom@54 {
				compatible = "atmel,24c08";
				reg = <0x54>;
			};
		};
	};
};
